@model GeoFotos.Models.ImageTotal

@{
    ViewBag.Title = "Fotos encuestas";
    Layout = "~/Views/Shared/_LayoutGeoFotos.cshtml";
}
@{

}

<link href="~/Content/ViewImagesData/viewer.css" rel="stylesheet"/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Datos generales</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="">
                    <ul class="products-list product-list-in-box">
                        <li class="item">
                            <div class="product-img">
                                <div class="col-md-3 col-sm-4"><i class="fa fa-fw fa-codepen"></i></div>
                            </div>
                            <div class="product-info">
                                <label>Código de identificación</label>
                                <span class="product-description">
                                    @Model.Code
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-img">
                                <div class="col-md-3 col-sm-4"><i class="fa fa-th"></i></i></div>
                            </div>
                            <div class="product-info">
                                <label>Proyecto relacionado</label>
                                <span class="product-description">
                                    @Model.CORE
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-img">
                                <div class="col-md-3 col-sm-4"><i class="fa fa-road"></i></div>
                            </div>
                            <div class="product-info">
                                <label>Ruta asignada</label>
                                <span class="product-description">
                                    @Model.Ruta
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-img">
                                <div class="col-md-3 col-sm-4"><i class="fa fa-list-alt"></i></i></div>
                            </div>
                            <div class="product-info">
                                <label>Observación ruta</label>
                                <span class="product-description">
                                    @Model.Rutaexiste
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-img">
                                <div class="col-md-3 col-sm-4"><i class="fa fa-shopping-cart"></i></div>
                            </div>
                            <div class="product-info">
                                <label>Canal</label>
                                <span class="product-description">
                                    @Model.TipoNegocio
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-img">
                                <div class="col-md-3 col-sm-4"><i class="fa fa-shopping-basket"></i></div>
                            </div>
                            <div class="product-info">
                                <label>Nombre comercial</label>
                                <span class="product-description">
                                    @Model.NombreLocal
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-img">
                                <div class="col-md-3 col-sm-4"><i class="fa fa-address-book"></i></div>
                            </div>
                            <div class="product-info">
                                <label>Dirección</label>
                                <span class="product-description">
                                    @Model.Dirección
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-img">
                                <div class="col-md-3 col-sm-4"><i class="fa fa-address-book"></i></div>
                            </div>
                            <div class="product-info">
                                <label>Fecha</label>
                                <span class="product-description">
                                    @Model.Fecha
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Multimedia</h3>
                </div>
                <div>
                    @if (Model != null)
                    {
                        <div id="imgId">
                            <div class="pictures">
                                <div class="wrap-image">
                                    @foreach (var image in Model.ImageData)
                                    {
                                        <img src="@image.link " alt="..." class="margin" width="250px" height="200px" style="border: solid #e2dcdc">
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>    
    </div>

</div>
<script src="~/Content/ViewImagesData/viewer.js"></script>

<script src="js/scripts.js"></script>
<script>

    imgvue()
    function imgvue() {
        var galley = document.getElementById('imgId');
        viewer = new Viewer(galley, {
            url: 'src',

        });
        
    }
</script>
